.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.formulario {
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  box-shadow: 9px 6px 26px -10px;
  height: fit-content;
}

h1 {
  margin-left: 10px;
}

.Ingresos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px;

}

.Botones {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: 50px;
}

.btn1 {
  border: none;
  border-radius: 10px;
  background-color: rgb(3, 196, 3);
  padding: 10px;
  color: aliceblue;
}

.btn2 {
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 20, 4);
  padding: 10px;
  color: aliceblue;
}
.btnB{
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 20, 4);
  padding: 10px;
  color: aliceblue;
  margin: 5PX;
}

.factura h1 {
  font-size: small;
  margin-left: 10px;
}

.IngresosFT {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  margin-left: 5px;

}

.IngresosFT SPAN {
  font-size: xx-small;
}
.Lista{
  display: flex;
  flex-direction: column;
  font-size: xx-small;
}
.ListaContenido{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img{
  height: 110PX;
}
.btnAgregar{
  border: none;
  border-radius: 10px;
  background-color: rgb(4, 89, 248);
  padding: 10px;
  color: aliceblue;
}


.btnB:hover , .btn2:hover , .btnAgregar:hover,.btn1:hover{
  border: 1px solid black;
}

.parche{
  background-color: white;
  position: absolute;
  width: 94%;
  height: 125px;
  left: 10px;
  top: 1px;
}